* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

/* Background Image */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(restaurant-gce5eef624_1280.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


/* Header Container */
.container {
    padding: 60px 60px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/* logo image */
.container .logo {
    padding: 10% 60px 0 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}


/* navigation bar */
.container .nav {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}


/* navigation items */
.container .nav .nav-items {
    display: flex;
    justify-content: space-between;
    padding: 0px 12px 0px 12px;

}


/* navigation items list */
.container .nav .nav-items li {
    padding-right: 50px;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: rgba(236, 226, 213, 0.4);
    width: 250px;
    height: 72px
}


/* Navigation Links */
.container .nav .nav-items li a {
    text-decoration: none;
    color: #0b5394;
    font-size: x-large;
    font-weight: 800;


}

/* Description text */
.description p {
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    word-spacing: 5px;

}

/* CTA button */

.btn button {
    margin-top: 100px;
    width: 300px;
    height: 70px;
    margin-left: 45%;
    margin-right: 50%;
    border-radius: 10px;
    background-color: #0b5394;

}

.btn button a {
    text-decoration: none;
    font-size: larger;
    color: aliceblue;
    font-weight: 700;

}